<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
  <script type="text/javascript" src="script.js"></script>
</head>

<body ng-app="myApp">
  <h1>Challenge Two</h1>
  <div ng-controller="myCtrl">
    <div>
      <div ng-repeat="number in numbers">
        <strong>{{number}}</strong>
        <a ng-if="number%3===0">
          <strong>Fizz</strong>
        </a>

        <a ng-if="number%5===0">
          <strong>Buzz</strong>
        </a>


      </div>


    </div>
  </div>
</body>

</html>
